@model PaginatedList<TblBlog>

@{
    bool isShowMessage = TempData["IsSuccess"] != null;
    bool isSuccess = false;
    string message = "";
    if (isShowMessage)
    {
        isSuccess = Convert.ToBoolean(TempData["IsSuccess"]);
        message = Convert.ToString(TempData["Message"]);
    }
}

@if (isShowMessage)
{
    if (isSuccess)
    {
        <div class="alert alert-success mb-3" role="alert">
            @message
        </div>
    }
    else
    {
        <div class="alert alert-danger mb-3" role="alert">
            @message
        </div>
    }
}

<a href="/Blog/Create" class="btn btn-outline-success">Create New Blog</a>


<table class="table table-responsive">
    <thead>
        <tr>
            <th>No.</th>
            <th>Blog Title</th>
            <th>Blog Author</th>
            <th>Blog Content</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < Model.Items.Count; i++)
        {
            var blog = Model.Items[i];
            <tr>
                <td>@((Model.PageIndex - 1) * Model.Items.Count + i + 1)</td>
                <td>@blog.BlogTitle</td>
                <td>@blog.BlogAuthor</td>
                <td>@blog.BlogContent</td>
                <td>
                    <a href="/Blog/Edit/@(blog.BlogId)" class="btn btn-warning">Edit</a>
                    <a href="/Blog/Delete/@(blog.BlogId)" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<nav aria-label="Page navigation" class="mt-4">
    <ul class="pagination justify-content-center">
        @if (Model.HasPreviousPage)
        {
            <li class="page-item">
                <a class="page-link" href="@Url.Action("Index", new { pageIndex = Model.PageIndex - 1 })" aria-label="Previous">
                    <i class="bi bi-chevron-left"></i> Previous
                </a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <span class="page-link" aria-label="Previous">
                    <i class="bi bi-chevron-left"></i> Previous
                </span>
            </li>
        }

        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                <a class="page-link" href="@Url.Action("Index", new { pageIndex = i })">@i</a>
            </li>
        }

        @if (Model.HasNextPage)
        {
            <li class="page-item">
                <a class="page-link" href="@Url.Action("Index", new { pageIndex = Model.PageIndex + 1 })" aria-label="Next">
                    Next <i class="bi bi-chevron-right"></i>
                </a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <span class="page-link" aria-label="Next">
                    Next <i class="bi bi-chevron-right"></i>
                </span>
            </li>
        }
    </ul>
</nav>
